/*-- scss:rules --*/
$bg-activity: #A5D6A7;

/* Headings APA style: bold, same size, left-aligned */


.reveal div.quelle {
  font-size: 1.2rem;   
  text-align: right;      
  margin-top: 0;
  margin-bottom: 0;
  color: #ccc;           /* dezente Schriftfarbe, z. B. hellgrau */
}


:root {
  --bg-activity: #{$bg-activity};
}
.reveal .slides section blockquote {
  color: inherit;
  background: none;  // optional: remove the gray box
  border-left: 0.25em solid currentColor; // keep a subtle marker
}